.users_wrapper {
    padding: 40px;

}

.user_wrapper {
    display: flex;
}

.user_status {
    margin-right: 30px;
    text-align: center;
    padding-top: 2px;
}

.user_info {
    display: flex;
    justify-content: space-between;
    width: 500px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 5px;
}

.ava {
    width: 50px;
    border-radius: 25px;
    font-size: 3px;
}

.btn {
    width: 70px;
    display: block;
    padding: 1px 2px 1px 2px;
    color: white;
    background-color: #4a4c63;
    border: 1px solid #393a4a;
    border-radius: 5px;
}

.btn:disabled{
    background-color: #c1bebe;
    color:white;
}

