.header {
    grid-area: h;
    background-color: #4a4c63;
    display: flex;
    justify-content: space-between;
}

.header img {
    height: 100%;
}

.auth_block {
    padding-top: 5px;
    padding-right: 10px;
}

.auth_link {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

.auth_info {
    color: bisque;
    margin-bottom: 5px;
}

.logout_btn {
    background-color: #edf2f6;
    /*color: bisque;*/
    border: 0;
    border-radius: 15px;
}